table.has-columns-hidden > tbody > tr.row-detail > td {
  background-color: transparent;
}
.table > thead:first-child > tr:first-child > th {
  vertical-align: middle;
}
.smart-style-5 .no-padding>table tr th:last-child,
.smart-style-5 .table>thead>tr>th {
  border: 0 none !important;
}
.smart-style-5 table .input-group-addon {
  background-color: transparent !important;
  border: 0 none !important;
  text-align: left;
  white-space: normal;
  vertical-align: top;
}
.smart-style-5 table .input-group-addon .onoffswitch {
  width: 60px !important;
  margin-right: 10px;
  margin-bottom: 8px;
  vertical-align: top;
}
.smart-style-5 table .input-group-addon .onoffswitch:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
.smart-style-5 table .input-group-addon .onoffswitch-switch {
  right: 50px;
}
.smart-style-5 table .input-group-addon .onoffswitch-inner:before {
  padding-right: 7px;
  padding-left: 0;
  text-align: center;
}
.smart-style-5 table .input-group-addon .onoffswitch-inner:after {
  padding-left: 7px;
  padding-right: 0;
  text-align: center;
}

#wallet-list {
  margin-top: 0 !important;
}
#wallet-list thead {
  display: none;
}

.nav-tabs table.table {
  margin-bottom: 0 !important;
}
.nav-tabs.bordered + .tab-content {
  border: 0 none;
}

.radio-inline,
.radio-inline+.radio-inline {
  margin-top: 0;
}

.input-group {
  width: 100%;
}

#pay_to_following_wallet {
  width: 100%;
}

.currency-select {
  width: 60px;
}

.input-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.input-wrap > label {
  margin-right: 15px;
}